<!DOCTYPE html>
<html>

<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
  <meta content="utf-8" http-equiv="encoding" />
  <title>Magazin Suplimente</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="styles/style.css" />
  <link rel="stylesheet" href="styles/vue-material.css" />
  <script type="text/javascript" src="libs/vue.js"></script>
  <script type="text/javascript" src="libs/vue-material.js"></script>
  <script type="text/javascript" src="libs/axios.js"></script>
  <script type="text/javascript" src="src/sup-service.js"></script>
</head>

<body>
  <div id="app">

    <div class="title">Suplimente Alimentare</div>

    <p style="text-align: center" v-if="sups.length == 0">Nu se gasesc suplimente</p>

    <ul class="user-list" v-if="sups.length > 0">
      <li>
        <div class="user-row-header">
          <div class="user-name">Nume</div>
          <div class="user-city">Pret</div>
          <div class="user-city">Producator</div>
          <div class="user-city">Aroma</div>
          <div class="user-city">Cantitate</div>
          <div class="user-city">Options</div>
          <a style="color: green" class="" :href="'add.html?'">Add </a>
        </div>
      </li>

      <li v-for="sup in sups">
        <div class="">
          <a class="user-city" :href="'details.html?id='+sup.id">{{ sup.nume }}</a>
          <span class="user-city"><i>{{ sup.pret }}</i></span>
          <span class="user-city"><i>{{ sup.producator }}</i></span>
          <span class="user-city"><i>{{ sup.aroma }}</i></span>
          <span class="user-city"><i>{{ sup.cantitate }}</i></span>
          <button style="color: green" v-on:click="deleteSup(sup.id)">Delete</button>
          <a style="color: green" :href="'update.html?id='+sup.id" target="_self">Update</a>
        </div>
      </li>
    </ul>
  </div>
  <script src="src/app.js"></script>
</body>

</html>